---
import Basic from '@layouts/Basic.astro'

import Pdf from '@components/Logos/Pdf.astro'
import links from '@components/links.js'

/* Pdfs */
import Tecnico from '@components/pdfs/sistemas.pdf'
import Scrum from '@components/pdfs/scrum.pdf'
import Udw from '@components/pdfs/udw.pdf'
import Id from '@components/pdfs/id.pdf'
import Pjs from '@components/pdfs/pjs.pdf'
import cv from '@components/pdfs/cv.pdf'

/* Logos */

import Html from '@components/Logos/Html.astro'
import Css from '@components/Logos/Css.astro'
import Tailwind from '@components/Logos/Tailwind.astro'
import Picocss from '@components/Logos/Picocss.astro'
import Js from '@components/Logos/Js.astro'
import Socketio from '@components/Logos/Socketio.astro'
import React from '@components/Logos/React.astro'
import Supabase from '@components/Logos/supabase.astro'
import Github from '@components/Logos/GithubMini.astro'
import Link from '@components/Logos/Link.astro'
import AstroLogo from '@components/Logos/Astro.astro'
import Dw from '@components/Logos/Dw.astro'
import User from '@components/Logos/User.astro'
---

<script is:inline>
	function justOne(el) {
		const contenidoRAW = document.querySelectorAll('.contenido')
		const contenido = [...contenidoRAW]

		if (el === 1) {
			contenido[0].classList.toggle('show')
			contenido[1].classList.remove('show')
			contenido[2].classList.remove('show')
			//contenido[3].classList.remove('show')
			titulo1.classList.remove('muted')

			titulo2.classList.add('muted')
			titulo3.classList.add('muted')
		}
		if (el === 2) {
			contenido[0].classList.remove('show')
			contenido[1].classList.toggle('show')
			contenido[2].classList.remove('show')
			//contenido[3].classList.remove('show')

			titulo1.classList.add('muted')

			titulo2.classList.remove('muted')

			titulo3.classList.add('muted')
		}
		if (el === 3) {
			contenido[0].classList.remove('show')
			contenido[1].classList.remove('show')
			contenido[2].classList.toggle('show')
			//contenido[3].classList.remove('show')
			titulo1.classList.add('muted')
			titulo2.classList.add('muted')

			titulo3.classList.remove('muted')
		}
	}

	function openCv() {
		window.open(`${cv}`, '_blank')
	}
</script>

<Basic
	title='Profesional'
	description='Hola de nuevo! Aquí te mostraré mi camino educativo, las titulaciones, los proyectos y los diseños que quiero resaltar.'
>
	<h1>Profesional</h1>
	<p>
		Hola de nuevo! Aquí te mostraré mi camino <b>educativo</b>, las <b
			>titulaciones</b
		>, los <b>proyectos</b> y los
		<b>diseños</b> que quiero resaltar.
	</p>

	<div class='breadcrumb'>
		<div class='titulo' onclick='justOne(1)'>
			<h2 id='titulo1' class=''>Proyectos realizados</h2>
		</div>
		<div class='titulo' onclick='justOne(2)'>
			<h2 id='titulo2' class='muted'>Títulaciones</h2>
		</div>
		<div class='titulo' onclick='justOne(3)'>
			<h2 id='titulo3' class='muted'>Idiomas</h2>
		</div>
	</div>

	<section>
		<div class='contenido uno show'>
			<article>
				<a href='https://webchat-production.up.railway.app'>
					<h3>
						WebChat 💭
						<!-- <Socketio /> -->
						<Js />
					</h3>
				</a>
				<p>
					Continuando con la línea de cosas <em>that matters,</em> he creado esta
					linda app para chatear en tiempo real. ¿No te suena épico? Pues a mí sí.
					La hice siguiendo el curso de Platzi de Aplicaciones en tiempo real. Estuvo
					bueno pero yo lo mejoré y logré desplegarlo (nunca había desplegado backend).
					Disfrútenlo.
				</p>
				<div class='media'>
					<div class='tecnologias'>
						<a class='boton' href='https://webchat-production.up.railway.app'
							><Link /> Visitar</a
						>
						<a class='boton' href='https://github.com/nicolasarevalo/webchat'
							><Github /> Código</a
						>
					</div>
				</div>
			</article>
			<article>
				<a href='https://todoapp-ashen.vercel.app'>
					<h3>
						Todo App 📝
						<React />
						<Supabase />
						<Picocss />
					</h3>
				</a>
				<p>
					Este proyecto genial me abrió los horizontes. Al fin me atreví a dejar
					de hacer solo front y pasar a cosas más interesantes. Es un backend <abbr
						title='As A Service'>AAS</abbr
					> pero pero disfruté mucho haciendolo y conociendo este nuevo mundo. Ahora
					sí, a hacer cosas <em>that matters.</em>
				</p>
				<div class='media'>
					<div class='tecnologias'>
						<a class='boton' href='https://todoapp-ashen.vercel.app'
							><Link /> Visitar</a
						>
						<a class='boton' href='https://github.com/nicolasarevalo/todoapp'
							><Github /> Código</a
						>
					</div>
				</div>
			</article>
			<article>
				<a href='https://explounas.com'>
					<h3>
						Explouñas 💅🏼
						<Html />
						<Css />
						<Js />
					</h3>
				</a>
				<p>
					Este es un sitio web informativo hecho a medida para un
					emprendimiento. Fue hecho con tecnologías básicas de la web, sin
					embargo, que eso no los engañe, es muy bonita.
				</p>
				<div class='media'>
					<div class='tecnologias'>
						<a class='boton' href='https://explounas.com'><Link /> Visitar</a>
						<a class='boton' href='https://github.com/nicolasarevalo/explounas'
							><Github /> Código</a
						>
					</div>
				</div>
			</article>
			<article>
				<a href='https://perrritos.vercel.app'>
					<h3>
						Perritos 🐶
						<React />
						<Css />
					</h3>
				</a>
				<p>
					Aplicación muy interesante donde aprendí que a las APIs también les
					puedo mandar info (Post, put, patch, delete). La hice en vanilla con
					una plantilla de snowpack y tailwind pero tuve problemas para subirlo
					a vercel, así que decidí pasarlo a React.
				</p>
				<div class='media'>
					<div class='tecnologias'>
						<a class='boton' href='https://perritosapp.vercel.app'
							><Link /> Visitar</a
						>
						<a
							class='boton'
							href='https://github.com/nicolasarevalo/perritosapp'
							><Github /> Código</a
						>
					</div>
				</div>
			</article>
			<article>
				<a href='https://nicolasarevalo.github.io/giphy-app/'>
					<h3>
						Giphy app 😜
						<React />
						<Css />
					</h3>
				</a>
				<p>
					Este proyecto lo creé con el mejor curso que he hecho hasta la fecha.
					Un año después de haberlo terminado decidí agregarle estilos bonitos.
					Los hice con CSS puro.
				</p>
				<div class='media'>
					<iframe
						src='https://nicolasarevalo.github.io/giphy-app/'
						frameborder='0'></iframe>

					<div class='tecnologias'>
						<a class='boton' href='https://nicolasarevalo.github.io/giphy-app/'
							><Link /> Visitar</a
						>
						<a class='boton' href='https://github.com/nicolasarevalo/giphy-app'
							><Github /> Código</a
						>
					</div>
				</div>
			</article>
			<article>
				<a href='https://lunago.vercel.app/'>
					<h3>Evolución de mi sitio web 😜</h3>
				</a>
				<p>
					Este proyecto me fascina, porque siempre lo hago con pasión. Mi web
					pasada fue una web que quise que fuera diferente, algo especial. Lo
					logré, pero no funcionaba tan bien como yo quería. Al final terminé en
					un boilerplate que no me gusta y no me hacía sentir cómodo. Así que
					creé uno más simple, pero bien hecho. Y aquí estamos. La primera web
					si fue más o menos como pude jajaja.
				</p>
				<h4>
					Mi web v.1
					<Html />
					<Css />
				</h4>
				<div class='media'>
					<div class='tecnologias centrado'>
						<a class='boton' href='https://nicolas-arevalo.netlify.app'
							><Link /> Visitar</a
						>
						<a class='boton' href='https://github.com/NicolasArevalo/naweb'
							><Github /> Código</a
						>
					</div>
				</div>
				<h4>
					Mi web v.2
					<React />
					<Css />
				</h4>
				<div class='media'>
					<div class='tecnologias centrado'>
						<a class='boton' href='https://lunago.vercel.app/'
							><Link /> Visitar</a
						>
						<a class='boton' href='https://github.com/nicolasarevalo/lunago'
							><Github /> Código</a
						>
					</div>
				</div>
				<span id='v3'
					>¡Estamos en la versión 3!
					<AstroLogo />
				</span>
			</article>
		</div>
	</section>

	<section>
		<div class='contenido dos'>
			<span>
				<a target='_blank' href={Tecnico}>
					<Pdf /> Técnico en sistemas (SENA)
				</a>
			</span>
			<span>
				<a target='_blank' href={Scrum}>
					<Pdf /> SCRUM fundamentals
				</a>
			</span>
			<span>
				<a target='_blank' href={Udw}>
					<Pdf /> Universidad del desarrollo web (Udemy)
				</a>
			</span>
			<span>
				<a target='_blank' href={Pjs}>
					<Pdf /> Profesional de Javascript (Platzi)
				</a>
			</span>
			<span>
				<a target='_blank' href={Id}>
					<Pdf /> Inglés para developers (Platzi)
				</a>
			</span>

			<span>Entre otros...</span>
		</div>
	</section>

	<section>
		<div class='contenido cuatro'>
			<ol>
				<li>Español</li>
				<li>Inglés</li>
			</ol>

			<span id='porahora'>Por ahora...</span>
		</div>
	</section>

	<div class='botonera'>
		<a class='boton' href='https://niiico.com/contacto'
			><User /> ¿Quieres contratarme?</a
		>
		<a class='boton' target='_blank' href={cv}
			><Dw /> Descarga mi hoja de vida</a
		>
	</div>
</Basic>

<style>
	.botonera {
		text-align: center;
		margin: 1rem 0;
		display: flex;
		justify-content: center;
		gap: 0.5rem;
		flex-wrap: wrap;
		align-items: center;
	}
	.loguito {
		width: 20px;
		height: 20px;
		fill: var(--color-gray-200);
	}
	section {
		margin: 0.8rem 0;
	}

	section:first-of-type {
		margin: 2rem 0 0 0;
	}
	.muted {
		color: rgb(170, 170, 170);
	}

	.breadcrumb {
		display: flex;
		justify-content: space-evenly;
		width: 100%;
		margin: 2rem 0 0 0;
	}

	.titulo {
		display: flex;
		justify-content: left;
		align-items: center;
		flex-flow: row wrap;
		gap: 1rem;
		cursor: pointer;
	}

	.titulo h2 {
		font-weight: 600;
		font-size: x-large;
	}

	.show {
		display: flex !important;
		opacity: 0;
		animation: appear 0.2s linear 0.2s forwards;
	}

	.contenido {
		margin: 0.7rem 0 4rem 0;
		display: none;
		flex-flow: column wrap;
		padding-inline-start: var(--pls);
		gap: 0.5rem;
	}

	.uno {
		padding-inline-start: calc(var(--pls) - 10px) !important;
	}

	article:last-child {
		margin-bottom: 2rem;
	}

	.contenido span {
		display: flex;
		align-content: center;
	}

	.contenido span a {
		transform: translateY(-3px);
	}

	.contenido span a:hover {
		color: var(--theme-accent);
	}

	li::marker {
		font-size: xx-large;
		color: var(--color-gray-400);
	}

	iframe {
		aspect-ratio: 16/9;
		background-color: white;
		margin-top: 1rem;
	}

	h4 {
		margin: 1rem 0 0 0;
		text-align: center;
	}

	.media {
		max-width: 100%;
		display: flex;
		flex-direction: column;
	}

	.media:first-child {
		width: 200px;
	}

	.tecnologias {
		margin: 2rem 0;
		display: flex;
		flex-flow: row wrap;
		gap: 0.5rem;
		width: 100%;
		justify-content: flex-end;
	}

	.centrado {
		justify-content: center !important ;
	}

	#v3 {
		width: 100%;
		justify-content: center;
	}

	#porahora {
		color: var(--color-gray-400);
		margin-top: 1rem;
	}

	svg {
		width: 45px !important;
		height: 45px !important;
	}

	@media (max-width: 760px) {
		.titulo h2 {
			font-size: small;
		}

		.uno {
			padding-inline-start: 10px !important;
		}

		.tecnologias {
			margin: 2rem 0;
			display: flex;
			flex-flow: column wrap;
			padding: 0 10px;
			gap: 0.5rem;
			width: 100%;
			justify-content: center;
		}

		.media {
			margin: 0;
		}

		iframe {
			display: none;
		}
	}
</style>
